<h1 class="dog_count"><%= @dogs.count %> dogs were found</h1>

<% @dogs.each do |dog| %>
  <div class="dog">
    <h3><%= dog.name %></h3>
    <p><strong>Sex:</strong> <%= dog.sex %></p>
    <% if dog.breed.class == Array %>
      <% dog.breed.each do |breed| %>
        <% if breed == dog.breed[0]%>
          <strong>Mix Breed:</strong> <%= breed[:$t] %>,
        <% else %>
          <%= breed[:$t] %>
        <% end %>
      <% end %>
    <% else %>
      <strong>Breed:</strong> <%= dog.breed[:$t] %>
    <% end %>
    <p><strong>Age:</strong> <%= dog.age %></p>
    <img class="dog_image" src="<%= dog.image %>" alt="">
    <br><br>
    <p><%= dog.description %></p>
    <p><strong>Shelter:</strong> <%= dog.shelter %></p>
    <p><strong>Location:</strong> <%= dog.city %>, <%= dog.state %></p>
  </div>
  <hr>
<% end %>
