<%= render partial: 'layouts/navbar' %>

<br><br>
<div class="dog">
  <h1 class="dog_name_show"><%= @dog.name %></h1>
  <img class="dog_show_image" src="<%= @dog.image %>" alt="">
  <br>
  <div class="dog_info"
    <p><strong>Sex:</strong> <%= @dog.sex %></p>
    <% if @dog.breed.class == Array %>
      <% @dog.breed.each do |breed| %>
        <% if breed == @dog.breed[0]%>
          <strong>Mix Breed:</strong> <%= breed[:$t] %>,
        <% else %>
          <%= breed[:$t] %>
        <% end %>
      <% end %>
    <% else %>
      <strong>Breed:</strong> <%= @dog.breed[:$t] %>
    <% end %>
    <p><strong>Age:</strong> <%= @dog.age %></p>
    <p><%= @dog.description %></p>
    <div class="shelter">
      <h4><%= @shelter.name %></h4>
      <p><strong>Location:</strong> <%= @shelter.city %>, <%= @shelter.state %>, <%= @shelter.zip %> </p>
      <p><strong>Email:</strong> <%= @shelter.email %></p>
      <p><strong>Phone Number:</strong> <%= @shelter.phone %></p>
    </div>
  </div>
  <iframe
  width="600"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=<%= @shelter.google_map_api_key %>&q=<%= @shelter.remove_spaces_from_name %>" allowfullscreen>
</iframe>
</div>
